@import "../../App.scss";

.header {
  background: rgba(24, 56, 151, 255);
  background: linear-gradient(
    180deg,
    rgba(24, 56, 151, 255) 0%,
    rgba(21, 50, 136, 255) 100%
  );

  .header-cnt-top {
    border-bottom: 1px solid lighten($clr-orange, 10%);
  }

  @media screen and (max-width: 992px) {
    .header-cnt-top {
      flex-direction: column;
      .header-cnt-top-l {
        margin-bottom: 4px;
      }
    }
  }
}
