@import "../../App.scss";

.header {
  background: rgb(118, 171, 174);
  background: linear-gradient(180deg, rgb(49, 54, 63) 0%, rgb(49, 54, 63) 100%);

  .header-cnt-top {
    border-bottom: 1px solid lighten($clr-orange, 10%);
  }

  @media screen and (max-width: 992px) {
    .header-cnt-top {
      flex-direction: column;
      .header-cnt-top-l {
        margin-bottom: 4px;
      }
    }
  }
}
